<form #form="ngForm" (ngSubmit)="handleSubmit(form)">
  Pokemon Name:
  <input [(ngModel)]="pokemon.name" name="name" [ngModelOptions]="{standalone:true}" />

<label>
  <input type="radio" 
          name="isCool" 
          [value]="true"
          required 
          #pokemonName="ngModel"
          [ngModel]="pokemon?.isCool" 
          (ngModelChange)="toggleIsCool($event)"
          /> Pokemon is cool
</label>
<label>
  <input 
    type="radio" 
    name="isCool" 
    [value]="false" 
    [ngModel]="pokemon?.isCool" 
  /> Pokemon is NOT cool
</label>
<label>
  <input type="checkbox" name="acceptTerms" id="acceptTerms" class="form-check-input" required [(ngModel)]="pokemon.acceptTerms">Accept Terms?
  
</label>
<label>
  Pokemon Type:
  <select name="pokemonType" [ngModel]="pokemon?.name">
    <option *ngFor="let type of pokemonType" [value]="type.key" [selected]="type.value === pokemon.type">{{ type.value }}</option>
  </select>
</label>
<button type="submit" [disabled]="!form.valid">Save</button>
</form>
<div>
  MODEL: {{ pokemon | json }}
  FORM: {{ form.value | json }}
  ERRORS: <div *ngIf="!pokemonName.pristine">NOT PRISTINE!</div>
</div>
